* {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-kerning: auto;
}
html {
  font-size: 10pt;
  line-height: 1.4;
  font-weight: 400;
  font-family: "Source Sans Pro", sans-serif;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
ul li {
  display: inline-block;
  margin: 1vw;
}

button {
  width: 18%;
  height: 15%;
}
.App {
  text-align: center;
}

.label-container {
  border: solid 1px #ccc;
  margin: 70px auto 8px;
  padding: 0 8px;
  position: relative;
  width: 300px;
}
/* .label-container:focus-within {
  border: solid 10px #ccc;
} */
.label-container input {
  border: none;
  font-size: 24px;
  outline: 0;
  padding: 30px 30px 5px;
  width: fit-content;
  margin: 0 auto;
}

.label-container label {
  font-size: 16px;
  position: absolute;
  transform-origin: top left;
  transition: all 0.1s ease-in-out;
}

.submitBtn {
  background-color: white;
  font-size: 16px;
  width: 200px;
  margin-top: 25px;
}

.label-container input #mealName {
  width: 10%;
  margin: 0 auto;
}
.mealSpan {
  font-size: 24px;
  margin: 0 10px;
}
